html:
  margin: 0
  padding: 0

body:
  background-color: white
  margin: 0 15%
  padding: 0
  font-family: sans-serif
  color: hex(333)
  text-align: justify

h1:
  color: black
  font-family: Tahoma, sans-serif
  margin: 0
  padding: 0.5em 0
  font-weight: normal

id(menu):
  position: absolute
  top: 2em
  right: 15%
  margin: 0
  padding: 0
  list-style-type: none
  height: 2em
  font-family: Tahoma, sans-serif

  li:
    display: inline
    margin: 0 1em
    padding: 0

    a:
      text-decoration: none
      color: hex(999)
      width: 100%

    a:hover:
      color: black

id(contents):
  border-top: 1px hex(aaa) solid
  padding: 1em 0 0 0

p.intro:
  #padding-left: 2em
  font-size: larger
  color: black

img.intro:
  float: left
  margin-right: 2em
  margin-bottom: 1em

h2:
  clear: left

em:
  font-weight: bold

pre:
  margin-left: 2em
  padding: 0.5em
  background-color: hex(ddd)
  border: 1px solid hex(999)

tt:
  background-color: hex(ddd)
