{% extends "_base.html" %}

{% block title %}bulix.org / about{% endblock %}

{% block contents %}

<h2>contact information</h2>

<img src="images/maxime-petazzoni.jpg" style="float: left; margin: 0 0.5em 0.5em 0;"
     alt="Maxime Petazzoni" />
<pre>
  Maxime Petazzoni
  356 Windingwood Court
  Mountain View, CA 94040 (USA)

  cell: +1 650-390-7483
  mail: maxime.petazzoni-AT-bulix.org
</pre>

<br />

<h2>about maxime</h2>

<p> Maxime is a 22 years old graduate student from the computer
  science department of
  the <a href="http://www.utbm.fr">utbm</a>. After a six-months
  internship at Google in 2007, Maxime now works as a software
  development intern at <a href="http://mvista.com">MontaVista</a> on
  Linux kernel development for embedded systems.  </p>

<ul>
  <li>
    résumé: <a href="/pub/cv-maxime-petazzoni-en.pdf">english</a> /
    <a href="/pub/cv-maxime-petazzoni-fr.pdf">français</a>
  </li>
  <li>
    <a href="http://linkedin.com/in/maximepetazzoni">linkedIn profile</a>
  </li>
</ul>


<h2 style="clear: left;">about this site</h2>

<p> Bulix.org was started as a sysadmin experiment in 2003 and somehow
  survived and evolved into a multi-purpose hosting platform running
  on my server, Frog (hosted
  by <a href="http://enix.org">eNiX.org</a>).</p>

<p>Although Bulix.org's main purpose is to host my websites (most
  notably, my weblog), my projects and my email, I'm also providing
  free hosting and services for some friends or projects I
  use. Several Subversion repositories and Trac environments are
  hosted here, and I'm also providing a
  self-service <a href="http://code.bulix.org">pastebin</a>.</p>

<p> All Bulix.org websites are hosted on my small and faithful server
  named <em>Frog</em>. It's a mini-ITX based machine in a 1U
  enclosure. Boasting a Via C3 1Ghz processor and 512MB of RAM, this
  tiny and low-speced server have been doing a really great job since
  this domain's creation, and I hope it will continue doing so :) </p>

<p> The machine itself is hosted by
  <a href="http://enix.org">eNiX.org</a>, a hosting company based in
  Paris and providing a reliable 100Mbits/s connectivity
  to <em>Frog</em>.  </p>

<p> For Bulix.org's email users and SSL users, I'm keeping here, as
  up-to-date as possible, the SHA1 fingerprints of the self-signed
  certificates used by my server.  </p>

<p>
  IMAP SSL, valid until 2009-05-18:&nbsp;
  <tt>EA:AF:8D:B8:B0:66:64:30:93:FE:69:CF:36:83:99:4E:D9:6A:56:BE</tt>
  <br />
  Apache SSL, valid until 2009-05-18:&nbsp;
  <tt>D1:95:EC:78:63:09:C6:E0:8C:53:D8:1C:39:BC:A5:4F:23:1E:99:74</tt>
</p>


<h2>hosted sites</h2>

<p>
  <a href="http://meh.bulix.org">meh.</a> /
  <a href="http://lcd4linux.bulix.org">lcd4linux</a> /
  <a href="http://code.bulix.org">pastebin</a> /
  <a href="http://stats.bulix.org">statistics</a> /
  <a href="http://wiki.bulix.org">wikis</a> /
  <a href="http://zwe.bulix.org">zwe</a>
</p>

{% endblock %}
