{% extends "_base.html" %}

{% block title %}bulix.org - work{% endblock %}

{% block contents %}

<h2>at montavista</h2>

<p>I'm currently completing my computer science master's degree with a
  six months internship at <a href="http://mvista.com">MontaVista</a>,
  working on various Linux kernel development projects from the
  company headquarters in Santa Clara, CA.</p>

<p>More recently, I've been working on porting the Android software
  stack to various ARM-based hardware platforms and got it running on
  various OMAP-based boards. This work is still in progress, but the
  early results have been demonstrated at the Embedded Technology 2008
  conference is Osaka, Japan.</p>

<h2>zwe</h2>

<p>Zwe has been one of my biggest personnal projects. It started as a
  learning playground for PHP/MySQL back in 2003, and his now a fully
  functional website and blog engine used by a few dozen people.</p>

<p> Its development has stalled for quite a while though, as I'm now
  working on the next major version. I'm not even sure I can even call
  it the same project, but it will for sure replace it. The next
  version of Zwe is currently being designed and will rely on XMPP. I
  know everybody does that nowadays, but I have a few ideas I want to
  try out on this.  An early design document is already available;
  feel free to contact me for more details ;-) </p>

<h2>... and before</h2>

<p>In the (recent) past, I've been doing various development work as a
  freelance developer in France. Depending on what you need, I may
  still be available for a short mission so don't hesitate to contact
  me!.</p>

<p>In spring 2007, I was a software engineering intern at Google,
  Inc. I worked in the Localization Team, building and maintaining the
  tools and the infrastructure of the localization workflow for Google
  products and content. I took part in the design and implementation
  of new parts of the localization infrastructure, reducing both the
  localization latency and its associated costs across all localized
  Google products.</p>

{% endblock %}
